.git
.gitignore
.venv
__pycache__/
**/__pycache__/
*.pyc
.env
.env.example
compuflow.sqlite
compuflow.sqlite-shm
compuflow.sqlite-wal
appsenhas.sqlite
appsenhas.sqlite-shm
appsenhas.sqlite-wal
*.md
.DS_Store
